**/.DS_Store
.vscode/
output/
**/__pycache__/
**/__MACOSX/
*.tar.gz
private/

data/*
!data/gpt3
!data/sections
!data/spp-output
!data/ssc-input
!data/ssc-output

sequential_sentence_classification/src
